.title {
    background-color: DimGray;
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: White;
    padding: 6px 0px 6px 0px;
}

.title h1 {
    text-align: center;
}

.navbar {
    background-color: LightSlateGray;
    font-size: 1.2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: White;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 0px 0px 0px 0px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 20px;
}

.navbar-currentPage {
    font-size: 1.1em;
    font-weight: 550;
}

.row {
    padding: 2% 2% 5% 2%;
}

.column {
    float: left;
    width: 50%;
    height: 100%;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row h3 {
    padding-top: 3%;
}

.chartContainer{
    text-align: center;
    padding: 2% 2% 5% 2%;
}

.bodyContent {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
