{% extends "layout.html" %}

{% block title %}
API
{% endblock %}


{% block navs %}
<a href="{{ url_for('home') }}" class=navbar-item>Home</a>
<a href="{{ url_for('api.apiHome') }}" class=navbar-currentPage>API</a>
{% endblock %}


{% block content %}

<div class=row>
    <h1>Get an API key</h1>

    <div class="errorMessage">
        <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>

    <form name="emailForm" id="emailForm" onsubmit="hashEmail()" action="{{url_for('api.apiHome')}}" method="post">
        Enter your email: <br>
        <input type="text" name="email" placeholder="Enter email here">
        <input type="hidden" name="isValid">
        <input type="submit" value="Get Key">
    </form>

    <br>
    <a target='blank' href="/api/data?apikey=testKey" >Example Query</a>
    <br>

</div>

<script type="text/javascript">
    var salt = 'OkRLWyqj'
    
    function hashEmail() {
        //validate email
        //hash email and send if valid

        var email = document.emailForm.email.value
        var regex = /^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)/g;

        if (email.match(regex) == null)
        {
            alert("The email entered is invalid, please try again")
            document.emailForm.isValid.value = 0
        }

        else
        {
            document.emailForm.email.value = md5(document.emailForm.email.value+salt)
            document.emailForm.isValid.value = 1
        }        
    }

</script>

    

{% endblock %}

