{% extends "layout.html" %}

{% block title %}
Predictions Page
{% endblock %}

{% block navs %}
<a href="{{ url_for('about') }}" class=navbar-item>About</a>
<a href="{{ url_for('home') }}" class=navbar-currentPage>Home</a>
<a href="{{ url_for('api.apiHome') }}" class=navbar-item>API</a>
{% endblock %}

{% block content %}

<div class=row>
    <div class="column left">
        <h1>Predictions Page</h1>
        <div class=times>
            <h3>Current Time: {{timeNow}} (UTC)</h3>
            <h3>Showing Data for: {{dataTime}} (UTC)<h3>
        </div>
    </div>

    <div class="column right">
        <div id='barChart'>
            <canvas id="percentageChart" width=100% height=50%></canvas>
        </div>
    </div>
</div>

<div class=chartContainer>
    <div class=row>
            <div class=column>
                <h4>Previous data shown:</h4>
                <input id="historic" type="range" min="10" max="95" value=35 step="5">
                <input type="text" id="historicText" value="35" disabled>
            </div>
            <div class=column>
                <h4>Predictions Shown:</h4>
                <input id="predictions" type="range" min="2" max="7" value=5 step="1">
                <input type="text" id="predictionText" value="4" disabled>
            </div>
    </div>

    <div id='lineChart'>
        <canvas id="priceChart" width=100% height=50%></canvas>
    </div>
</div>

<script>

    var historicSlider = document.getElementById('historic')
    var predictSlider = document.getElementById('predictions')
    var historicText = document.getElementById('historicText')
    var predictionText = document.getElementById('predictionText')

    var noPrev = historicSlider.defaultValue
    var toPredict = predictSlider.defaultValue

    var labels = {{timeLabels|safe}}

    var timesteps = [0, 1, 2, 4, 8, 16, 32]
    var predictions = {{predictions|safe}}
    var stDevs = {{stDevs|safe}}

    var predictionPoints = []
    var plusStDev = []
    var minusStDev = []


    //put data in x/y form for the predictions
    for(var i = 0 ; i < 7 ; i ++) {
        var xVal = 100 + timesteps[i] - 1
        predictionPoints.push({
                x: labels[xVal], 
                y: predictions[i]
        })
        plusStDev.push({
                x: labels[xVal], 
                y: predictions[i] + stDevs[i]
        })
        minusStDev.push({
                x: labels[xVal], 
                y: predictions[i] - stDevs[i]
        })
    }


    var accuracy = document.getElementById('percentageChart').getContext('2d')
    var percentageChart = new Chart(accuracy, {
        type: 'bar',
        data: {
            labels: ["15 min", "30 min", "1 hour", "2 hour", "4 hour", "8 hour"],
            datasets: [
                {
                    label: 'Percentage predicted within low/high price',
                    backgroundColor: '#40A2ff',
                    data: {{percentages|safe}},
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Recent Percentage Accuracy'
            }
        }
    });


    var price = document.getElementById('priceChart').getContext('2d')
    var PriceChart = getPriceChart()
    

    historicSlider.oninput = function() {
        noPrev = this.value
        historicText.value = this.value
        PriceChart = getPriceChart()
    }

    predictSlider.oninput = function() {
        toPredict = this.value;
        predictionText.value = this.value - 1
        PriceChart = getPriceChart()
    }


    function getPriceChart()
    {
        var PriceChart = new Chart(price, {
            type: 'line',
            data: {
                labels: {{timeLabels|safe}}.slice(100-noPrev, 100 + timesteps[toPredict-1]),
                datasets: [
                    {
                        label: 'Close Price',
                        data: {{closePrices|safe}}.slice(100-noPrev, 100),
                        borderColor: '#3399ff',
                        fill: false,
                        tension: 0
                    },
                    {
                        label: 'High Price',
                        data: {{highPrices|safe}}.slice(100-noPrev, 100),
                        borderColor: "#ff9900",
                        fill: 2,
                        tension: 0
                    },
                    {
                        label: 'Low Price',
                        data: {{lowPrices|safe}}.slice(100-noPrev, 100),
                        borderColor: "#ff9900",
                        fill: false,
                        tension: 0
                    },
                    {
                        label: 'Predictions',
                        data: predictionPoints.slice(0, toPredict),
                        borderColor: "#32cd32",
                        fill: false
                    },
                    {
                        label: '+1 St. Dev',
                        data: plusStDev.slice(0, toPredict),
                        borderColor: "#953ecd",
                        fill: 5
                    },
                    {
                        label: '-1 St. Dev',
                        data: minusStDev.slice(0, toPredict),
                        borderColor: "#953ecd",
                        fill: false
                    }
                ]
            },
            options: {
                responsive: true,
                bezier: false,
                title: {
                    display: true,
                    text: 'Historic data and predictions'
                }
            }
        });

        return PriceChart
    }


</script>

{% endblock %}
