{% extends "layout.html" %}

{% block title %}
EUR/USD Price Predictor
{% endblock %}

{% block content %}
<h1>Forex EUR/USD Price Predictor</h1>

<div class = times>
    <h3>Current Time: {{timeNow}} (UTC)</h3>
    <h3>Showing Data for: {{dataTime}} (UTC)<h3>
</div>


<div id='container'>
    <canvas id="chart1" width=100% height=50%></canvas>
</div>


<input id="historic" type="range" min="10" max="100" value=20 step="5">
<input id="predictions" type="range" min="1" max="5" value=3 step="1">



<script>

    var ctx = document.getElementById('chart1').getContext('2d')
    var historicSlider = document.getElementById('historic')
    var predictSlider = document.getElementById('prediction')

    var labels = {{timeLabels|safe}}
    var predictions = {{predictions|safe}}

    var noPrev = 50
    var toPredict = 3
    //put data in x/y form for the predictions
    var timesteps = [0, 1, 2, 4, 8, 16]
    var predictionPoints = []

    for(var i = 0 ; i < toPredict + 1 ; i ++) {
        var xVal = 100 + timesteps[i] - 1
        predictionPoints.push({
                x: labels[xVal], 
                y: predictions[i]
        })
    }

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{timeLabels|safe}}.slice(100-noPrev, 100 + timesteps[toPredict]),
            datasets: [
                {
                    label: 'Close Price',
                    data: {{closePrices|safe}}.slice(100-noPrev, 100),
                    borderColor: '#3399ff',
                    fill: false,
                    tension: 0
                },
                {
                    label: 'High Price',
                    data: {{highPrices|safe}}.slice(100-noPrev, 100),
                    borderColor: "#ff9900",
                    fill: 2,
                    tension: 0
                },
                {
                    label: 'Low Price',
                    data: {{lowPrices|safe}}.slice(100-noPrev, 100),
                    borderColor: "#33ff33",
                    fill: false,
                    tension: 0
                },
                {
                    label: 'Predictions',
                    data: predictionPoints,
                    borderColor: "#953ecd",
                    fill: false
                }
            ]
        },
        options: {
            responsive: true,
            bezier: false,
            title: {
                display: true,
                text: 'Historic data and predictions'
            }
        }
    });




</script>

{% endblock %}
