<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <script src="{{ url_for('static', filename='Chart.js')}}"></script>
        <script src="{{ url_for('static', filename='md5.min.js')}}"></script>
    </head>

    <body>
        <div class="title">
            <h1>Forex EUR/USD Price Predictor</h1>
        </div> 
            
        <div class="navbar">
            {% block navs %}
            {% endblock %}
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
        </div>
    </body>
</html>
