<!--Page showing user their API key-->

{% extends "layout.html" %}

{% block title %}
    Show Key
{% endblock %}

{% block navs %}
<a href="{{ url_for('about') }}" class=navbar-item>About</a>
<a href="{{ url_for('home') }}" class=navbar-item>Home</a>
<a href="{{ url_for('api.apiHome') }}" class=navbar-item>API</a>
{% endblock %}


{% block content %}
    <div class=row>
        <h3>Your API key is: {{key}} </h3>
        <p>
            This key is linked to your email address.
            <br>Your email address will never be stored or sent in plaintext.
            <br><strong>NOTE:</strong> This key will be invalid if not used for longer than a month.
        </p>
    </div>
{% endblock %}

