{% extends "layout.html" %}
{% block title %}
Test
{% endblock %}

{% block content %}
<p>test</p>

<div id='container'>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>


<script>
let ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
  type: 'scatter',
  data: {
    labels: ['-4', '-3', '-2', '-1', '0', '1', '2','3', '4', '5'],
    datasets: [
        {
        label: 'previous',
        data: [{x: 1, y: 2}, {x: 2, y: 4}, {x: 3, y: 3},{x: 4, y: 2},{x: 5, y: 3.5}],
        showLine: true,
        fill: false,
        borderColor: 'rgba(0, 200, 0, 1)'
        },
        {
        label: 'predictions',
        data: [{x: 5, y: 2}, {x: 6, y: 4}, {x: 7, y: 3},{x: 9, y: 2}],
        showLine: true,
        fill: false,
        borderColor: 'rgba(200, 0, 0, 1)'
    }]
  }
});

</script>

{% endblock %}
